<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Dotnet.Commons.Logging.LogFactory" value="Dotnet.Commons.Logging.Impl.Log4NetFactory, Dotnet.Commons.Logging.Log4net"/>
		<add key="Dotnet.Commons.Logging.Log4Net.ConfigFile" value="LoggingConfig.xml"/>
		<add key="Dotnet.Commons.Logging.Log4Net.ConfigWatch" value="true"/>
	</appSettings>
</configuration>