<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <appSettings>
		<add key="Dotnet.Commons.Logging.LogFactory" value="Dotnet.Commons.Logging.Impl.Log4NetFactory, Dotnet.Commons.Logging.Log4net"/>
		<add key="Dotnet.Commons.Logging.Log4Net.ConfigFile" value="LoggingConfig.xml"/>
		<add key="Dotnet.Commons.Logging.Log4Net.ConfigWatch" value="true"/>
	</appSettings>
  <spring>
    <context type="Spring.Context.Support.XmlApplicationContext, Spring.Core">
      <resource uri="assembly://HudsonTrayTracker/Hudson.TrayTracker/Configuration.xml"/>
    </context>
  </spring>
</configuration>