<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.ProductName) Project"
           UpgradeCode="C8D46C5C-C37A-4596-BDDC-446D53436CFC">

    <Package InstallerVersion="200" Compressed="yes" />

    <Condition Message="A newer version of [ProductName] is already installed. Setup will now exit.">
      NOT NEWERVERSIONDETECTED OR Installed
    </Condition>

    <Upgrade Id="C8D46C5C-C37A-4596-BDDC-446D53436CFC">
      <UpgradeVersion OnlyDetect="yes"
                      Minimum="$(var.ProductVersion)"
                      Property="NEWERVERSIONDETECTED"
                      IncludeMinimum="no" />
      <UpgradeVersion OnlyDetect="no"
                      Maximum="$(var.ProductVersion)"
                      Property="OLDERVERSIONBEINGUPGRADED"
                      IncludeMaximum="no" />
    </Upgrade>

    <Media Id="1" Cabinet="JenkinsTray.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)" FileSource="$(var.SolutionDir)..\JenkinsTray\bin\x86\$(var.Configuration)">
          <Component Id="cmp788826F037B232B8D1CA662C7A724415" Guid="{F488277E-40A7-476A-B965-BEEB006497F9}">
            <File Id="fil5688DA34328E8A1E0A4F6A1D804C37DE" KeyPath="yes" Name="antlr.runtime.dll" />
          </Component>
          <Component Id="cmp9C7F9E356EE86CE45ED3BA0B5BEAD581" Guid="{C484E181-B75C-4C50-AB24-83060D94D229}">
            <File Id="fil7D65322AEFD472BABBD4824D11274DAE" KeyPath="yes" Name="Common.Logging.dll" />
          </Component>
          <Component Id="cmpB5CD10B4F08899371641B0C0DE534EE3" Guid="{29FC831C-0176-485B-87E6-0614EF8B031A}">
            <File Id="fil5261152A55EB0609456EDB88C3778AE2" KeyPath="yes" Name="Common.Logging.Log4Net.dll" />
          </Component>
          <Component Id="cmp25BBC114FFDE925625CB8C6FA2D9B223" Guid="{64D514E0-556F-44E4-8F5F-F4C0BB8EECF3}">
            <File Id="fil7E1D0B5669659770E8FEFD9737C6D383" KeyPath="yes" Name="DevExpress.Data.v10.1.dll" />
          </Component>
          <Component Id="cmpEBCB8E1359AC9AE0ADD1F01E9A58055F" Guid="{BCCC2120-42BB-4E4D-B1D6-C56AC1AA90A3}">
            <File Id="fil14A1DB3EBAB2A780A31F3ACA5AD201E8" KeyPath="yes" Name="DevExpress.OfficeSkins.v10.1.dll" />
          </Component>
          <Component Id="cmp0BA69A5C6BBFE5889F17A03293FC78E7" Guid="{5A01D7A5-D953-467E-BF63-2FE7BA9CAF62}">
            <File Id="fil00D45BF8ADBB5B49A71A7B4470466227" KeyPath="yes" Name="DevExpress.Utils.v10.1.dll" />
          </Component>
          <Component Id="cmp594D6E3979E1CEDEB27376CF54FDB365" Guid="{F0DE1B03-741D-43CD-89F2-24484A490AED}">
            <File Id="fil1F6BF65D4882F7676FE4034751BA733A" KeyPath="yes" Name="DevExpress.XtraBars.v10.1.dll" />
          </Component>
          <Component Id="cmp0B97BAA25F31C074C20FEBA2FEDE3F48" Guid="{1F1C68B4-FEDD-4DDD-8E2F-B7A0E944B40D}">
            <File Id="fil3CCE7299BFAE4BC6A14540E87952316E" KeyPath="yes" Name="DevExpress.XtraEditors.v10.1.dll" />
          </Component>
          <Component Id="cmpAC67205C24336055DB5CD4693FF63E1E" Guid="{8C187DC2-AA36-4FBD-A35E-850C206836DD}">
            <File Id="fil249C1995895C98D347336EB175B533E6" KeyPath="yes" Name="DevExpress.XtraGrid.v10.1.dll" />
          </Component>
          <Component Id="cmpDECF02664B2BD6FE145377F56C75278A" Guid="{F6E0A644-06C6-4847-8F2C-D6BE31CF9276}">
            <File Id="filEDE5C71FA0C030AE438BD4489F0353CD" KeyPath="yes" Name="JenkinsTray.ico" />
          </Component>
          <Component Id="cmpFC72D988F9982C9734B0DAEBC993CEE9" Guid="{5D5C900B-C308-4E69-8FC6-255D1FE809C8}">
            <File Id="filACD69880BE1FDE3432073222CF6438B2" KeyPath="yes" Name="JenkinsTray.exe" />
          </Component>
          <Component Id="cmp5BF8F81273881D3E0601F47EF72D2E46" Guid="{9DF189DC-B492-4FAF-9E55-2FBE452C9355}">
            <File Id="fil5E49494DA4D5D964055F845312578640" KeyPath="yes" Name="JenkinsTray.exe.config" />
          </Component>
          <Component Id="cmp7A04BD94527EA1928F335EE381F60B45" Guid="{4EB5E3D4-5BE0-404D-811F-478C91AF8533}">
            <File Id="filEAB10C719D803D8BE8F031DE48EA5654" KeyPath="yes" Name="Iesi.Collections.dll" />
          </Component>
          <Component Id="cmp75C51DF10C0B5BDF2822D9EEEF27813C" Guid="{386112E7-281C-4150-A1C7-46E67036DFED}">
            <File Id="fil4418F00EA37EF62D28148E7E7B42BC40" KeyPath="yes" Name="log4net.dll" />
          </Component>
          <Component Id="cmp92A572B519DE896800538C7795082921" Guid="{DB0AF5D1-A3C2-4F98-A162-4E50FA3071F0}">
            <File Id="fil562DC4F18EDB1DC79D012122BC96F3D9" KeyPath="yes" Name="LoggingConfig.xml" />
          </Component>
          <Component Id="cmp82D2FB5D3FF74D23A18DD610758156C4" Guid="{1EE3ECAB-2858-4CC7-8B6C-75E8F5F52E6D}">
            <File Id="fil302487DACA7C4A22B4D8B96816BD690E" KeyPath="yes" Name="Newtonsoft.Json.Net35.dll" />
          </Component>
          <Component Id="cmp5E383EFA84B425FA3738A2378659FA83" Guid="{32E0E795-45CD-483A-8101-2A7BF775FAE0}">
            <File Id="fil48C49AC6BD43A7BF6F4C892431FD1ECD" KeyPath="yes" Name="SmartThreadPool.dll" />
          </Component>
          <Component Id="cmp47CBB58C539892268E22BA64A5A479AD" Guid="{2A7873DD-3685-4A6F-AA33-D6D5DD51FE77}">
            <File Id="fil6DE4942C65AE21E7C7EF069364A9C3D3" KeyPath="yes" Name="Spring.Core.dll" />
          </Component>

          <Directory Id="setup" Name="setup">
            <Component Id="cmp0FAE03C65D96ED1D021C482BB95EC17C" Guid="{219D2CA4-86EE-40F5-B58A-0090402D2373}">
              <File Id="fil05B5A1FCB0324171FCF22AD1C566E172" KeyPath="yes" Source="$(var.SolutionDir)JenkinsTray.Setup.CustomActions\bin\x86\$(var.Configuration)\JenkinsTray.Setup.CustomActions.dll" />
            </Component>
            <Component Id="cmp053A2ABE2833EF70F99155D399B3D030" Guid="{50413CFC-020E-4A7F-9933-1EDE39DEA88D}">
              <File Id="InstallUtilConfig" KeyPath="yes" Source="src\InstallUtilConfig.xml" />
            </Component>
          </Directory>
          
          <!-- Shortcuts menu -->
          <Directory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)">
              <Component Id="ApplicationShortcut" Guid="{BC1439CD-7AE8-4A71-99CE-C3C2512BE23A}">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)" Description="$(var.ProductName) $(var.ProductVersion)"
                          Target="[#filACD69880BE1FDE3432073222CF6438B2]" WorkingDirectory="INSTALLLOCATION"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\JenkinsTray" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
              </Component>
            </Directory>
            
            <Directory Id="StartupFolder" Name="Startup">
              <Component Id="StartupShortcut" Guid="{3BC25ED5-9C5B-4513-A90B-87C4CDB75DF9}">
                <Shortcut Id="StartupMenuShortcut" Directory="StartupFolder" Name="$(var.ProductName)" Description="$(var.ProductName) $(var.ProductVersion)"
                          Target="[#filACD69880BE1FDE3432073222CF6438B2]" WorkingDirectory="INSTALLLOCATION"/>
                <RegistryValue Root="HKCU" Key="Software\JenkinsTray" Name="startup" Type="integer" Value="1" KeyPath="yes"/>
              </Component>
            </Directory>
          </Directory>
          
          <Directory Id="DesktopFolder" Name="Desktop" />
          
        </Directory>
      </Directory>
    </Directory>

    <Binary Id="InstallUtil" SourceFile="src\InstallUtilLib.dll" />

    <Feature Id="Application" Title="$(var.ProductName)" Level="1">
      <ComponentRef Id="cmp788826F037B232B8D1CA662C7A724415"/>
      <ComponentRef Id="cmp9C7F9E356EE86CE45ED3BA0B5BEAD581"/>
      <ComponentRef Id="cmpB5CD10B4F08899371641B0C0DE534EE3"/>
      <ComponentRef Id="cmp25BBC114FFDE925625CB8C6FA2D9B223"/>
      <ComponentRef Id="cmpEBCB8E1359AC9AE0ADD1F01E9A58055F"/>
      <ComponentRef Id="cmp0BA69A5C6BBFE5889F17A03293FC78E7"/>
      <ComponentRef Id="cmp594D6E3979E1CEDEB27376CF54FDB365"/>
      <ComponentRef Id="cmp0B97BAA25F31C074C20FEBA2FEDE3F48"/>
      <ComponentRef Id="cmpAC67205C24336055DB5CD4693FF63E1E"/>
      <ComponentRef Id="cmpDECF02664B2BD6FE145377F56C75278A"/>
      <ComponentRef Id="cmpFC72D988F9982C9734B0DAEBC993CEE9"/>
      <ComponentRef Id="cmp5BF8F81273881D3E0601F47EF72D2E46"/>
      <ComponentRef Id="cmp7A04BD94527EA1928F335EE381F60B45"/>
      <ComponentRef Id="cmp75C51DF10C0B5BDF2822D9EEEF27813C"/>
      <ComponentRef Id="cmp92A572B519DE896800538C7795082921"/>
      <ComponentRef Id="cmp82D2FB5D3FF74D23A18DD610758156C4"/>
      <ComponentRef Id="cmp5E383EFA84B425FA3738A2378659FA83"/>
      <ComponentRef Id="cmp47CBB58C539892268E22BA64A5A479AD"/>
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="StartupShortcut" />
    </Feature>

    <Feature Id="Setup" Title="Setup" Level="1">
      <ComponentRef Id="cmp0FAE03C65D96ED1D021C482BB95EC17C"/>
      <ComponentRef Id="cmp053A2ABE2833EF70F99155D399B3D030"/>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.ProductName)" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />

    <Property Id="WixShellExecTarget" Value="[#filACD69880BE1FDE3432073222CF6438B2]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <UI>
      <UIRef Id="WixUI_InstallDir_Custom" />
    </UI>

    <UI Id="WixUI_InstallDir_Custom">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication" Order="1">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">1</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <UIRef Id="WixUI_Common" />

    <CustomAction Id='Uninstall' BinaryKey='InstallUtil' DllEntry='ManagedInstall' Execute='deferred' Impersonate="no" />
    <CustomAction Id='UninstallSetProp' Property='Uninstall' Value='/installtype=notransaction /action=uninstall /LogFile= "[#fil05B5A1FCB0324171FCF22AD1C566E172]" "[#InstallUtilConfig]"' />

    <CustomAction Id='Install' BinaryKey='InstallUtil' DllEntry='ManagedInstall' Execute='deferred' Impersonate="no" />
    <CustomAction Id='InstallSetProp' Property='Install' Value='/installtype=notransaction /action=install /LogFile= "[#fil05B5A1FCB0324171FCF22AD1C566E172]" "[#InstallUtilConfig]"' />

    <CustomAction Id='Rollback' BinaryKey='InstallUtil' DllEntry='ManagedInstall' Execute='rollback' Impersonate="no" />
    <CustomAction Id='RollbackSetProp' Property='Rollback' Value='/installtype=notransaction /action=rollback /LogFile= "[#fil05B5A1FCB0324171FCF22AD1C566E172]" "[#InstallUtilConfig]"' />

    <CustomAction Id='Commit' BinaryKey='InstallUtil' DllEntry='ManagedInstall' Execute='commit' Impersonate="no" />
    <CustomAction Id='CommitSetProp' Property='Commit' Value='/installtype=notransaction /action=commit /LogFile= "[#fil05B5A1FCB0324171FCF22AD1C566E172]" "[#InstallUtilConfig]"' />

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize"/>

      <Custom Action="InstallSetProp" After="StartServices">$cmp0FAE03C65D96ED1D021C482BB95EC17C&gt;2</Custom>
      <Custom Action="Install" After="InstallSetProp">$cmp0FAE03C65D96ED1D021C482BB95EC17C&gt;2</Custom>

      <Custom Action="UninstallSetProp" After="MsiUnpublishAssemblies">$cmp0FAE03C65D96ED1D021C482BB95EC17C=2</Custom>
      <Custom Action="Uninstall" After="UninstallSetProp">$cmp0FAE03C65D96ED1D021C482BB95EC17C=2</Custom>

      <Custom Action="CommitSetProp" After="Rollback">$cmp0FAE03C65D96ED1D021C482BB95EC17C&gt;2</Custom>
      <Custom Action="Commit" After="CommitSetProp">$cmp0FAE03C65D96ED1D021C482BB95EC17C&gt;2</Custom>

      <Custom Action="RollbackSetProp" After="Install">$cmp0FAE03C65D96ED1D021C482BB95EC17C&gt;2</Custom>
      <Custom Action="Rollback" After="RollbackSetProp">$cmp0FAE03C65D96ED1D021C482BB95EC17C&gt;2</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
